{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Breweries</title>
  </head>
  <body>
    <div class='header-items'>
        <h1 class="title">ROC Craft Beer Community</h1>
        <nav class='top-nav-bar'>
        <h3 class="perma-links"><a href="/breweries">Breweries</a></h3 class="perma-links">
        <h3 class="perma-links"><a href="/beers">Beers</a></h3>
        <h3 class="perma-links"><a href="/food">Food</a></h3>
        </nav>
    </div>
    {% block content %}
    <!-- <img src="https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"> -->
    {% endblock %}
  </body>
</html>