{% extends 'breweries/base.html' %}

{% block content %}

<div class="beer-lists-container">
{% for brewery in breweries %}
<div class="beer-list-logo">
  <a href="/breweries/{{brewery.id}}"><img src="{{brewery.logo_url}}" alt="{{brewery.name}} logo"  class="beer-list-logo-link"/></a>
  <h2><a href="/breweries/{{brewery.id}}" class='beer-list-brewery-name'>{{ brewery.name }}</a></h2>
</div>
{% for beer in brewery.beers.all %}
<div class="local-options">
    <h3><a href="/beers/{{beer.id}}" class="beer-list-link">{{ beer.name }} - ${{ beer.full_price }}</a></h3>
    <p class="beer-list-style">{{beer.style}}</p> 
    <p class="beer-list-abv">ABV: {{beer.abv}}%</p>
  </div>
  {% endfor %}
  {% endfor %} 
</div>



{% endblock %}