{% extends 'breweries/base.html' %}

{% block content %}

    <h4><a href="/breweries/{{beer.brewery.id}}">{{ beer.brewery }}</a></h4>
    <img src="{{beer.brewery.logo_url}}" alt="{{brewery.name}} logo" />
    <h4>{{ beer.name }} - ${{ beer.full_price }}</h4>
    <h4>ABV: {{ beer.abv }}  IBUs: {{ beer.ibus }}</h4>
    <h4>{{ beer.description }}</h4>

    <a href="/beers/{{beer.id}}/edit"> Edit {{brewery.name}} </a>
    <form action="/beers/{{beer.id}}/delete">
        {% csrf_token %}
        <input type="submit" value="Delete {{beer.name}}">
      </form>
  {% endblock %}