{% extends 'breweries/base.html' %}

{% block content %}
<div class="brewery-detail-container">

<div class="brewery-detail-brewery-container">
  <img src="{{brewery.logo_url}}" alt="{{brewery.name}} logo">
  <div class="brewery-detail-brewery-info-container">
    <h1 class="brewery-detail-brewery-info">{{ brewery.name }}</h1>
    <h3 class="brewery-detail-brewery-info">{{ brewery.address }}</h3>
    <h3 class="brewery-detail-brewery-info">{{ brewery.city }}, {{brewery.zipcode}}</h3>
  </div>
</div>

<h2 class="brewery-detail-beer-list-title">Beers on Tap</h2>

{% for beer in brewery.beers.all %}
<div class="brewery-list-beer">
    <h2><a href="/beers/{{beer.id}}" class="brewery-detail-beer-name">{{ beer.name }}</a></h2>
    <h4 class="brewery-detail-beer-description">{{beer.description}}</h4>
    <div class="brewery-detail-beer-stats-container">
      <p class="brewery-detail-beer-stats">Style: {{beer.style}}</p class="brewery-detail-beer-stats">
      <p class="brewery-detail-beer-stats">ABV: {{beer.abv}}%</p>
      <p class="brewery-detail-beer-stats">IBUs: {{beer.ibus}}</p>
      <p class="brewery-detail-beer-stats">{{beer.glassware}}: ${{beer.full_price}}</p>
      <p class="brewery-detail-beer-stats">Flight Glass: ${{beer.flight_price}}</p>
    </div>
</div>
    {% endfor %}
<h2 class="brewery-detail-food-list-title">Menu</h2>
{% for food in brewery.food.all %}
    <h2 class="brewery-detail-food-price"><a href="/food/{{food.id}}" class="brewery-detail-food-item">{{ food.item }}</a>  ${{food.price}}</h2>
    <h5 class="brewery-detail-food-description">{{food.description}}</h5>
    {% endfor %}
  </div>
    <h3 class="brewery-detail-crud-buttons"><a href="/beers/new" class="brewery-detail-crud-buttons-text">Add A New Beer</a></h3>
    <h3 class="brewery-detail-crud-buttons"><a href="/food/new" class="brewery-detail-crud-buttons-text">Add New Food</a></h3>
    
    <h3 class="brewery-detail-crud-buttons"><a href="/breweries/{{brewery.id}}/edit" class="brewery-detail-crud-buttons-text"> Edit {{brewery.name}} </a></h3>
    <form action="/breweries/{{brewery.id}}/delete">
        {% csrf_token %}
        <input type="submit" value="Delete {{brewery.name}}">
      </form>
  
    {% endblock %}