{% extends 'breweries/base.html' %}

{% block content %}
<h1>Breweries</h1>
{% for brewery in breweries %}
<div class="brewery">
<h2><a href="/breweries/{{brewery.id}}">{{ brewery.name }}</a></h2>
<img src="{{brewery.logo_url}}" alt="{{brewery.name}} logo">
<h3>{{brewery.address}}</h3>
<h3>Phone: {{brewery.phone}}</h3>
<h3>Hours:</h3>
<p>Monday: {{brewery.monday_hours}}</p>
<p>Tuesday: {{brewery.tuesday_hours}}</p>
<p>Wednesday: {{brewery.wednesday_hours}}</p>
<p>Thursday: {{brewery.thursday_hours}}</p>
<p>Friday: {{brewery.friday_hours}}</p>
<p>Saturday: {{brewery.saturday_hours}}</p>
<p>Sunday: {{brewery.sunday_hours}}</p>
  {% endfor %}
{% endblock %}