{% extends 'breweries/base.html' %}

{% block content %}
<div class="food-detail-container">
<div class="food-detail-logo">
    <a href="/breweries/{{food.brewery.id}}"><img src="{{food.brewery.logo_url}}" alt="{{brewery.name}} logo"  class="food-detail-logo-link"/></a>
    <h2><a href="/breweries/{{food.brewery.id}}" class='food-detail-brewery-name'>{{ food.brewery }}</a></h2>
  </div>

    <!-- <h4><a href="/breweries/{{food.brewery.id}}">{{ food.brewery }}</a></h4>
    <img src="{{food.brewery.logo_url}}" alt="{{brewery.name}} logo" /> -->
    <h4 class="food-detail-id">{{ food.item }} - ${{ food.price }}</h4>
    <h4 class="food-detail-description">{{ food.description }}</h4>
    <h4 class="food-detail-options">Options: {{ food.options }}</h4>
  </div>
    <h3 class="food-detail-crud-buttons"><a href="/food/{{food.id}}/edit" class="food-detail-crud-buttons-text"> Edit Item </a></h3>
    <form class="food-detail-delete" action="/food/{{food.id}}/delete">
        {% csrf_token %}
        <input class="food-detail-delete-text" type="submit" value="Delete {{food.name}}">
      </form>
  {% endblock %}