{% extends 'breweries/base.html' %}

{% block content %}
<div class="food-list-container">
{% for brewery in breweries %}

<div class="food-list-logo">
  <!-- <h2><a href="/breweries/{{beer.brewery.id}}" class='beer-list-brewery-name'>{{ brewery.name }}</a></h2> -->
  <a href="/breweries/{{brewery.id}}"><img src="{{brewery.logo_url}}" alt="{{brewery.name}} logo"  class="beer-list-logo-link"/></a>
  <h2><a href="/breweries/{{brewery.id}}" class="food-list-brewery">{{ brewery.name }}</a></h2>
</div>

{% for food in brewery.food.all %}
<div class="food-options">
    <!-- <h4><a href="">{{ beer.brewery }}</a></h4> -->
    <!-- <p>{{beer.style}}</p> -->
    <h5><a href="/food/{{food.id}}" class="food-list-item">{{ food.item }} - ${{ food.price }}</a></h5>
    <p class="food-list-description">{{food.description}}</p>
    <!-- <a href="/food/{{food.id}}"> -->
</div>
  {% endfor %}

{% endfor %} 
</div>
    <h2><a href="/food/new"> Change Your Menu! </a></h2>
</a>
{% endblock %}