body {
  margin: 0;
  /* background: url("https://images.unsplash.com/photo-1551837818-f52fc6991b70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60") no-repeat; */
  
  background-repeat: no-repeat;
  background-size: initial;
  background-color: lightblue;
  color: lightsalmon;
}

.beer-list {
  /* background: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") no-repeat; */
}

.title {
  color: white;
}

a {
  color: crimson;
}

.brewery-page {
  margin-left: 100px;
  margin-left: 44%;
  
}

.brewery {
  background: url("https://images.unsplash.com/photo-1551837818-f52fc6991b70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60") no-repeat;
  /* margin-left: 150px; */
  /* background: url("https://images.unsplash.com/photo-1536584979139-dde0784c7c75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60") no-repeat; */
  text-align: center;
}

.brewery-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-phone {
  text-align: center;
  display: inline-block;
  height: 135px;
  width: 250px;
  background-color: darkblue;
  opacity: 75%;
  margin-top: 16px;
  margin-bottom: 10px;
} 

.operating-hours {
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 150px;
  background-color: darkblue;
  opacity: 75%;
}

.hours {
  opacity: 100%;
}

.header-items {
  height: 300px;
  max-width: 100%;
  background: url("https://images.unsplash.com/photo-1566061898322-036a53fcd9ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid darkcyan;
  text-align: center;
  border: 2px solid red;
}

.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  margin-top: 200px;
}

.perma-links {
  margin: 0 12px 0 12px;
  color: white;
}

.hours {
  margin: 0;
}

.description {
  border: 2px solid black;
  margin: 0;
}

.local-options {
  border: 1px solid black;
}

.address {
  /* text-decoration: underline; */
}

.beer-lists-container {
  background: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") no-repeat;
}

.beer-lists {
  width: 300px;
  text-align: center;
  /* font-size: 20px; */
}

.beer-list-style {
  margin: 0;
}

.beer-list-abv {
  margin: 0;
}

.beer-list-link {
  margin: 0;
}