body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: initial;
  background-color: black;
}

.beer-list {
  /* background: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") no-repeat; */
}

.title {
  color: red;
  text-shadow: 2px 2px black;
  font-size: 40px;
  padding-top: 200px;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 70px;
  }
}

@media screen and (min-width: 950px) {
  .title {
    font-size: 90px;
  }
}

.brewery-page {
  text-align: center;
  margin-top: 30px;
  color: yellow;
  text-shadow: 4px 4px red;
  font-size: 40px;
}

@media screen and (min-width: 550px) {
  .brewery-page {
    font-size: 64px;
  }
}

@media screen and (min-width: 950px) {
  .brewery-page {
    font-size: 80px;
  }
}

.brewery {
  background: url("https://images.unsplash.com/photo-1551837818-f52fc6991b70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60")
    top center no-repeat;
  background: url("https://images.unsplash.com/photo-1513828646384-e4d8ec30d2bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60")
    top center no-repeat;
  background: url("https://images.unsplash.com/photo-1513828646384-e4d8ec30d2bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60")
    top center no-repeat;
  text-align: center;
}

.brewery-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-phone {
  text-align: center;
  display: inline-block;
  height: 165px;
  width: 330px;
  color: yellow;
  text-shadow: 2px 2px red;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 75%;
  margin-top: 16px;
  margin-bottom: 10px;
}

.address {
  margin: 15px 0 12px 0;
  font-size: 30px;
}

.city-zip {
  margin: 12px 0 12px 0;
  font-size: 30px;
}

.phone {
  margin: 12px 0 12px 0;
  font-size: 30px;
}

.operating-hours {
  text-align: center;
  display: inline-block;
  height: 270px;
  width: 270px;
  color: yellow;
  text-shadow: 1px 1px red;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 75%;
  margin-bottom: 60px;
}

.hours-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.hours {
  opacity: 100%;
  font-size: 24px;
}

.header-items {
  height: auto;
  background: url("https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/892485_10200905550149524_1630755182_o.jpg?_nc_cat=100&_nc_sid=05277f&_nc_ohc=fphLnglOWp4AX92k61N&_nc_ht=scontent-iad3-1.xx&oh=a5fe95454900986f34f091155d4da343&oe=5E9D72E2");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  margin-top: 180px;
}

.perma-links-wrap {
  width: 130px;
  margin: 20px 3%;
}

.perma-links {
  color: red;
  font-size: 16px;
  background-color: yellow;
  border: 4px solid red;
  border-radius: 6px;
  text-decoration: none;
}

@media screen and (min-width: 550px) {
  .perma-links {
    font-size: 24px;
    margin: 0 6%;
  }
}

@media screen and (min-width: 950px) {
  .perma-links {
    font-size: 36px;
  }
}

.perma-links:hover {
  color: yellow;
  background-color: black;
  border: 4px solid yellow;
}

.hours {
  margin: 0;
}

.local-options {
  margin-left: 100px;
}

.address {
}

.brewery-list-brewery-name {
  color: darkblue;
  text-decoration: none;
}

.brewery-list-logo-link {
  margin-top: 30px;
  border: 4px solid black;
  border-radius: 8px;
  text-decoration: none;
}

.brewery-list-logo-link:hover {
  border: 4px solid yellow;
}

.brewery-list-beer {
  color: darkblue;
  margin-left: 30px;
  text-decoration: none;
}

.brewery-detail-container {
  margin-top: 80px;
  background: url("https://images.unsplash.com/photo-1545287072-3c332a7acaf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60")
    center repeat-y;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.brewery-detail-brewery-container {
  display: flex;
}

.brewery-detail-brewery-info-container {
  margin-top: 24px;
  margin-left: 25px;
  /* font-size: 30px; */
}

.brewery-detail-brewery-info {
  color: yellow;
  text-shadow: 2px 2px red;
}

.brewery-detail-beer-list-title {
  color: Red;
  text-shadow: 2px 2px black;
  font-size: 36px;
}

@media screen and (min-width: 550px) {
  .brewery-detail-beer-list-title {
    font-size: 45px;
  }
}

@media screen and (min-width: 850px) {
  .brewery-detail-beer-list-title {
    font-size: 56px;
  }
}

.brewery-detail-beer-name {
  font-size: 20px;
  color: crimson;
  padding: 4px;
  text-shadow: 1px 1px black;
  background-color: rgba(255, 255, 255, 75%);
  border: 2px solid crimson;
  text-decoration: none;
}

@media screen and (min-width: 550px) {
  .brewery-detail-beer-name {
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .brewery-detail-beer-name {
    font-size: 36px;
  }
}

.brewery-detail-beer-name:hover {
  color: black;
  text-shadow: 2px 2px red;
  /* border: 2px solid yellow;  */
}

.brewery-detail-beer-description {
  width: 90%;
  border: 2px solid red;
  color: black;
  /* text-shadow: 2px 1px crimson; */
  border-radius: 8px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 75%);
  font-size: 20px;
}

@media screen and (min-width: 550px) {
  .brewery-detail-beer-description {
    width: 80%;
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .brewery-detail-beer-description {
    font-size: 36px;
  }
}

.brewery-detail-beer-stats-container {
  border: 2px solid red;
  border-radius: 6px;
  width: 45%;
}

@media screen and (min-width: 550px) {
  .brewery-detail-beer-stats-container {

  }
}

@media screen and (min-width: 550px) {
  .brewery-detail-beer-stats-container {

  }
}

.brewery-detail-beer-stats {
  margin: 0;
  padding: 4px;
  color: black;
  background-color: rgba(255, 255, 255, 75%);
  font-size: 20px;
}

@media screen and (min-width: 550px) {
  .brewery-detail-beer-stats {
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .brewery-detail-beer-stats {
    font-size: 36px;
  }
}

.brewery-detail-food-list-title {
  color: Red;
  text-shadow: 2px 2px black;
  font-size: 36px;
}

@media screen and (min-width: 550px) {
  .brewery-detail-food-list-title {
    font-size: 45px;
  }
}

@media screen and (min-width: 850px) {
  .brewery-detail-food-list-title {
    font-size: 56px;
  }
}

.brewery-detail-food-item {
  font-size: 20px;
  color: crimson;
  text-shadow: 2px 1px black;
  text-decoration: none;
  margin-left: 30px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 75%);
  border: 2px solid crimson;
}

@media screen and (min-width: 550px) {
  .brewery-detail-food-item {
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .brewery-detail-food-item {
    font-size: 36px;
  }
}

.brewery-detail-food-item:hover {
  color: black;
  text-shadow: 2px 1px crimson;
  border: 2px solid black;
}

.brewery-detail-food-price {
  font-size: 24px;
  color: yellow;
  text-shadow: 2px 1px black;
}

@media screen and (min-width: 550px) {
  .brewery-detail-food-price {
    font-size: 32px;
  }
}

@media screen and (min-width: 850px) {
  .brewery-detail-food-price {
    font-size: 36px;
  }
}

.brewery-detail-food-description {
  color: black;
  /* text-shadow: 1px 1px crimson; */
  width: 70%;
  border: 2px solid crimson;
  border-radius: 8px;
  padding: 4px;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 75%);
  font-size: 20px;
}

@media screen and (min-width: 550px) {
  .brewery-detail-food-description {
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .brewery-detail-food-description {
    font-size: 36px;
  }
}

.brewery-detail-crud-buttons {
  color: red;
  background-color: yellow;
  border: 4px solid red;
  width: 160px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.brewery-detail-crud-buttons:hover {
  color: yellow;
  background-color: red;
  border: 4px solid yellow;
}

.brewery-detail-delete {
  color: red;
  background-color: yellow;
  border: 4px solid red;
  width: 160px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.brewery-detail-delete:hover {
  color: yellow;
  background-color: red;
  border: 4px solid yellow;
}

.brewery-detail-crud-buttons-text {
  color: red;
  text-decoration: none;
}

.brewery-detail-crud-buttons-text:hover {
  color: yellow;
}

.beer-lists-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
    center repeat-y;
    max-width: 1000px;
}

.beer-list-brewery-name {
  width: 300px;
  text-align: center;
  text-decoration: none;
  color: yellow;
  text-shadow: 2px 2px red;
  margin: 20px;
  font-size: 35px;
}

@media screen and (min-width: 550px) {
  .beer-list-brewery-name {
    font-size: 48px;
  }
}

@media screen and (min-width: 800px) {
  .beer-list-brewery-name {
    font-size: 64px;
  }
}

.beer-list-brewery-name:hover {
  color: red;
  text-shadow: 2px 2px yellow;
}

.beer-list-logo {
  display: flex;
  margin-left: 60px;
}

.beer-list-link {
  color: yellow;
  text-shadow: 2px 2px red;
  font-size: 30px;
  text-decoration: none;
}

@media screen and (min-width: 550px) {
  .beer-list-link {
    font-size: 42px;
  }
}

@media screen and (min-width: 800px) {
  .beer-list-link {
    font-size: 56px;
  }
}

.beer-list-link:hover {
  color: red;
  text-shadow: 2px 2px yellow;
}

.beer-list-logo-link {
  width: 80px;
  height: 80px;
  background-color: greenyellow;
  border: 4px solid black;
}

@media screen and (min-width: 550px) {
  .beer-list-logo-link {
    width: 120px;
  height: 120px;
  }
}

@media screen and (min-width: 800px) {
  .beer-list-logo-link {
    width: 150px;
  height: 150px;
  }
}

.beer-list-logo-link:hover {
  border: 4px solid red;
  border-radius: 4px;
}

.beer-list-style {
  margin: 0 0 0 0;
  color: black;
  background-color: rgba(255, 255, 255, 50%);
  width: 240px;
  font-size: 20px;
}

@media screen and (min-width: 550px) {
  .beer-list-style {
    font-size: 35px;
  }
}

@media screen and (min-width: 800px) {
  .beer-list-style {
    font-size: 45px;
  }
}

.beer-list-abv {
  margin: 0 0 0 0;
  color: black;
  background-color: rgba(255, 255, 255, 50%);
  width: 240px;
  font-size: 20px;
}

@media screen and (min-width: 550px) {
  .beer-list-abv {
    font-size: 35px;
  }
}

@media screen and (min-width: 800px) {
  .beer-list-abv {
    font-size: 45px;
  }
}

.beer-detail-all-container {
  display: flex;
  flex-direction: column;

}

.beer-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  background: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
    center repeat-y;
}

.beer-detail-brewery {
  color: yellow;
  font-size: 36;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.beer-detail-images-container {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

@media screen and (min-width: 575px) {
  .beer-detail-images-container {
    margin: 0 12%;
  }
}

@media screen and (min-width: 850px) {
  .beer-detail-images-container {
    max-width: 825px;
    margin-left: auto;
    margin-right: auto;
  }
}

.beer-detail-logo-link {
  border: 3px solid black;
  background-color: yellow;
  width: 150px
}

@media screen and (min-width: 550px) {
  .beer-detail-logo-link {
    width: 225px;
  }
}

@media screen and (min-width: 850px) {
  .beer-detail-logo-link {
    width: 300px;
  }
}

.beer-detail-logo-link:hover {
  opacity: .8;
  border: 3px solid red;
}

.beer-detail-beer-logo {
  height: 150px;
  border: 3px solid black;
}

@media screen and (min-width: 550px) {
  .beer-detail-beer-logo{
    height: 225px;
  }
}

@media screen and (min-width: 850px) {
  .beer-detail-beer-logo {
    height: 300px;
  }
}

.beer-detail-info {
  width: 35%;
}

.beer-detail-id {
  color: yellow;
  margin-right: 0;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  text-shadow: 2px 2px black;
  font-size: 28px;
}

@media screen and (min-width: 550px) {
  .beer-detail-id {
    font-size: 36px;
  }
}

@media screen and (min-width: 850px) {
  .beer-detail-id {
    font-size: 50px;
  }
}

.beer-detail-stats {
  color: yellow;
  margin-right: 0;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  text-shadow: 2px 2px black;
  font-size: 28px;
}

@media screen and (min-width: 550px) {
  .beer-detail-stats {
    font-size: 36px;
  }
}

@media screen and (min-width: 850px) {
  .beer-detail-stats {
    font-size: 50px;
  }
}

.beer-detail-description {
  color: yellow;
  margin-right: 0;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px black;
  font-size: 28px;
  width: 80%;
}

@media screen and (min-width: 550px) {
  .beer-detail-description {
    font-size: 36px;
    width: 85%;
  }
}

@media screen and (min-width: 850px) {
  .beer-detail-description {
    font-size: 50px;
    width: 90%;
    max-width: 800px;
  }
}

.food-list-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  /* background: url("https://images.unsplash.com/photo-1549396399-8a3275bc6bf8?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60") repeat-y; */
  background: url("https://images.unsplash.com/photo-1533640924469-f04e06f8898d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60")
    center repeat-y;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.food-list-logo {
  margin-left: 30px;
}

@media screen and (min-width: 550px) {
  .food-list-brewery {
    margin-left: 45px;
  }
}

@media screen and (min-width: 900px) {
  .food-list-brewery {
    margin-left: 60px;
  }
}

.food-list-brewery {
  color: yellow;
  text-shadow: 2px 2px red;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 65%);
  font-size: 36px;
}

@media screen and (min-width: 550px) {
  .food-list-brewery {
    font-size: 42px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 900px) {
  .food-list-brewery {
    font-size: 54px;
  }
}

.food-list-brewery:hover {
  color: red;
  text-shadow: 2px 2px yellow;
}

.food-list-item {
  color: red;
  text-shadow: 1px 1px yellow;
  background-color: rgba(0, 0, 0, 65%);
  font-size: 20px;
  text-decoration: none;
  margin-left: 40px;
}

@media screen and (min-width: 550px) {
  .food-list-item {
    font-size: 30px;
    margin-left: 65px;
  }
}

@media screen and (min-width: 900px) {
  .food-list-item {
    font-size: 40px;
    margin-left: 120px;
  }
}

.food-list-item:hover {
  color: yellow;
  text-shadow: 1px 1px red;
}

.food-list-description {
  color: black;
  background-color: rgba(255, 255, 255, 75%);
  width: 65%;
  margin-left: 40px;
  font-size: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 550px) {
  .food-list-description {
    width: 78%;
    font-size: 25px;
    margin-left: 60px;
  }
}

@media screen and (min-width: 900px) {
  .food-list-description {
    width: 72%;
    font-size: 36px;
    margin-left: 120px;
  }
}

.food-detail-container {
  background: url("https://images.unsplash.com/photo-1549396399-8a3275bc6bf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60")
    center no-repeat;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.food-detail-logo {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: row;
}

.food-detail-logo-link {
  margin: 0 0 0 40px;
  width: 80px;
  height: 80px;
  border: 4px solid yellow;
}

.food-detail-logo-link:hover {
  border: 4px solid red;
}

.food-detail-brewery-name {
  margin: 0 0 0 40px;
  color: crimson;
  text-shadow: 2px 2px yellow;
  text-decoration: none;
  font-size: 42px;
}

.food-detail-brewery-name:hover {
  color: yellow;
  text-shadow: 2px 2px red;
  font-size: 42px;
}

.food-detail-id {
  color: yellow;
  text-shadow: 2px 2px red;
  margin-left: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 60%);
}

@media screen and (min-width: 550px) {
  .food-detail-id {
    font-size: 30px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 850px) {
  .food-detail-id {
    font-size: 40px;
    margin-left: 60px;
  }
}

.food-detail-description {
  color: yellow;
  text-shadow: 2px 2px red;
  margin: 10px 0 10px 30px;
  font-size: 24px;
  border-radius: 6px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 60%);
}

@media screen and (min-width: 550px) {
  .food-detail-description {
    font-size: 30px;
    margin-left: 60px;
  }
}

@media screen and (min-width: 850px) {
  .food-detail-description {
    font-size: 36px;
    margin-left: 70px;
  }
}

.food-detail-options {
  color: yellow;
  text-shadow: 2px 2px red;
  margin: 10px 0 0 30px;
  font-size: 24px;
  border-radius: 6px;
  width: 60%;
  padding: 4px;
  background-color: rgba(0, 0, 0, 60%);
}

@media screen and (min-width: 550px) {
  .food-detail-options {
    font-size: 30px;
    margin-left: 60px;
  }
}

@media screen and (min-width: 850px) {
  .food-detail-options {
    font-size: 36px;
    margin-left: 70px;
  }
}

.food-detail-crud-buttons {
  color: red;
  background-color: yellow;
  border: 4px solid red;
  width: 200px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.food-detail-crud-buttons:hover {
  color: yellow;
  background-color: red;
  border: 4px solid yellow;
}

.food-detail-crud-buttons-text {
  color: red;
  text-decoration: none;
}

.food-detail-crud-buttons-text:hover {
  color: yellow;
  text-decoration: none;
}

.delete-food {
  background-color: white;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.delete-food-button {
  color: red;
  background-color: white;
  width: 200px;
}

.brewery-form {
  color: white;
  text-align: center;
}

.beer-form {
  color: white;
  text-align: center;
}

.food-form {
  color: white;
  text-align: center;
}